<div class="container pb-8">
  <div class="flex justify-start p-8 font-black" >
    <div class="bg-red-600 text-white mr-4 text-lg px-1 py-0.5 font-sans font-bold rounded-md ">Due</div>
    <div class="text-2xl font-sans font-extrabold">Invoice</div>
  </div>
  
  <img src="../favicon.ico" class="w-14 h-12 hidden md:flex md:justify-end ring-4 ring-gray-400 rounded-md"
    style="position: absolute;top: 40px;right:60px">
  
  <div class="pl-8 sm:w-max w-11/12">
    <h2 class="border border-black text-left p-1">Thank you for your purchase. Timely payment will be appreciated.</h2>
  </div>
</div>

<xarv-invoice></xarv-invoice>

