<!-- For invoice No -->
<div class="pl-8 flex flex-col md:flex-row pb-4">
  <div class="pb-4">
    <div class="font-sans font-bold mb-1">Invoice No.</div>
    <div class="border border-gray-600 w-32  text-left bg-gray-200"><span class="px-2 bg-gray-400 text-center">#</span><span class="pl-2">{{inVoiceNo}}</span></div>
  </div>
  <div class="flex flex-row" style="position: absolute;right: 40px;">
    <div class="pr-8">
      <div>
        <label class="font-sans font-bold mb-1">Currency</label>
      </div>
      <select class="bg-gray-200">
          <option *ngFor="let cur of currency">{{cur}}</option>
      </select>
    </div>
    <div>
      <div>
        <label class="font-sans font-bold mb-1">Language</label>
      </div>
      <select class="bg-gray-200">
        <option *ngFor="let lan of languages">{{lan}}</option>
      </select>
    </div>
  </div>
</div>
 
<!-- for address  -->

<hr class="ml-8 mr-8"  style="height: 2px;color: black;background-color: black;">
<div class="pl-8 pt-4 pb-4 flex">
  <div>
    <div >
      <div class="font-sans font-bold pb-2">From</div>
      <div>Colony : {{address?.colony}}</div>
      <div>City : {{address?.city}}</div>
      <div>Country : {{address?.country}}</div>
      <div>Zip Code : {{address?.zip}}</div>
    </div>
    <div class="pt-4 ">
      <div class="font-sans font-bold pb-2">To</div>
      <textarea class="p-0 text-sm border focus:border-gray-500 bg-gray-200" style="width: 200px;height: 100px;" placeholder="Address" [(ngModel)]="toAddress"></textarea>
    </div>
  </div>
  <div style="position: absolute;right: 40px;" class="flex flex-col justify-start">
    <div class="pb-4" >
      <div class="font-sans font-bold">Date</div>
      <input class="bg-gray-200 p-1 border border-gray-500">
    </div>
    <!-- Dropdown -->
    <div class="pr-8 pb-4">
      <div>
        <label class="font-sans font-bold mb-1">Invoice Due</label>
      </div>
      <select class="bg-gray-200">
        <option *ngFor="let in of invoice">{{in}}</option>
      </select>
    </div>
    <div class="pb-4">
      <div class="font-sans font-bold pb-2">Purchase Order Number</div>
      <div class="bg-gray-200 p-1 border border-gray-500">{{PO}}</div>
    </div>
  </div>
  
  
</div>
<hr class="ml-8 mr-8"  style="height: 2px;color: black;background-color: black;">

<!-- for selling items and Billing -->

<div class="pt-4">

  <!-- Creating new items for selling -->
  <div class="grid grid-cols-7 pl-9 pt-4">
    <div class="col-span-4 text-left">Name</div>
    <div class="pr-1">Quantity</div>
    <div>Rate</div>
    <div>Amount</div>
  </div>
  <hr class="ml-8 mr-8" style="height: 1.5px;color: black;background-color: black;">
  <div class="pt-4 pl-8 grid grid-cols-7  pb-4" *ngFor="let item of items,let i=index">
    <div class="col-span-4 text-left">
      <input class="p-1 w-3/4 border border-gray-500 bg-gray-200" name="fdfw" type="text"  placeholder="Items you are selling" style="height: 70px;" [(ngModel)]="item.item">
      <button class="bg-red-700 text-white border border-black" style="width: 25px ;height: 25px;" (click)="onDelete(i)">X</button>
    </div>
    
    <div>
      <input class="p-1 w-3/4 border border-gray-500 bg-gray-200" name="cdsjc" [(ngModel)]="item.quantity"
        (blur)="do(i)">
    </div>
    <div>
      <input class="p-1 w-3/4 border border-gray-500 bg-gray-200" name="asfaf" [(ngModel)]="item.rate" (blur)="do(i)">
    </div>
    <div>
      <input class="p-1 w-3/4 border border-gray-500 bg-gray-200" name="asfdaf" id="amount" [(ngModel)]="item.amount">
    </div>
    
  </div>
  <hr class="ml-8 mr-8" style="height: 2px;color: black;background-color: black;">

  <!-- Billing -->

  <div class="pl-8 pt-4 grid grid-cols-2">
    <div class="pb-8 pr-4">
      <!-- button for new line -->
      <button class="bg-blue-500 p-1 text-white" (click)="onClick()">New Line</button>
    </div>
    <div class="flex flex-col pb-4">
      <div class="grid grid-cols-2">

        <!-- Total amount without tax -->

      <div class="font-sans font-bold pb-2">Total</div>
      <div>{{total}}</div>
      <div class="font-sans font-bold pb-2">Tax(20%)</div>
      <div>{{tax}}</div>
      </div>

      <!-- Total due -->

      <div class="grid grid-cols-2 p-1">
        <div class="font-sans font-bold pb-2 border-2 border-blue-500 text-black p-1" >Total Due</div>
        <div class="bg-blue-500 p-2 text-white" style="width: 70px;">{{totalDue}}</div>
      </div>
      

    </div>
    <div>

    </div>
  </div>
  


</div>

